.modal_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 100%;
    padding: 24px;
    gap: 24px;
    border-radius: 40px;
    box-sizing: border-box;
    font-family: "Jet Brains Mono", sans-serif;
    background-color: var(--background-modal);
}

.up_data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.down_data {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.date {
    color: var(--color-text-active);
    opacity: 0.5;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    text-align: center;
    font-size: 24px;
    color: var(--color-text-active);
}

.ingredients {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.title {
    text-align: start;
    font-size: 24px;
    width: 100%;
}

.order_id {
    font-size: 24px;
    font-family: "Iceland", sans-serif;
}

