.ingredient {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Jet Brains Mono', sans-serif;
    position: relative;
    overflow: hidden;
    gap: 5px;
}

.counter{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.image {
    min-height: 120px;
}

.title {
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;
}