.main {
    display: flex;
    padding: 0 20%;
    flex-direction: column;
}

.content {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.header {
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: start;
    font-family: 'Jet Brains Mono', sans-serif;
    font-size: 40px;
    grid-column: 2 span;
}

.section {
    width: 45%;
    height: calc(100%);
}

.feed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    overflow: auto;
    max-height: 100%;
    scrollbar-width: none;
}