.image_content {
    height: 64px;
    width: 64px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: 2px solid var(--border-enabled);
    position: relative;
    background-color: var(--background-modal);
}

.image {
    width: 100%;
    height: 100%;
}

